body{
    margin: 0 auto;
    background-color: #e7f5ff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
header {
    height: 10vh;
    width: 100%;
    padding: 10px;
    background-color: #002049;
    flex-wrap: wrap;
    text-align: center;
}
.login_estr {
    text-align: center;
    width: 20%;
    background-color: #002049; 
    color: white;
    border-radius: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 3%;
}
.form-estr {
    text-align: center;
    width: 45%;
    background-color: #002049; 
    color: white;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#direccion{
    margin-top: 20px;
    margin-bottom: 15px;
}
input,select{
    width: 80%;
    border-radius: 5px;
    border: none;
}
input::after{
    transition: 3s;
}
#img-icons {
    width: 5%;
}

.login_form{
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50%;
}
.error{
    color: red;
    margin: 10px;
    font-size: 12px;
}

button{
    color: #e7f5ff;
    background-color: #002049;
    padding-left: 7.6%;
    padding-right: 7.6%;
    border-radius: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 1rem;
    transition: 1s;
    border: #e7f5ff solid 1px;
}
#btn{
    color: black;
    background-color: #e7f5ff;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px; 
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer; 
    font-size: 16px; 
    transition: 1s;
    
} 
a:hover,button:hover{
    transition: 1s;
    background-color: #000000;
    border-radius: 40px; 
}


.login_forma{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

h2 {
    margin-top: 0.5%;
}
a {
    margin-top: 1rem;
    padding: 12px;
    background-color: #002049;
    width: 1.5%;
    border-radius: 10px;
    transition: 1s;

}
.row{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.column-3{
    text-align: center;
    width: 25%;
    background-color: #002049;
    /* max-width: 50vh; */
}
.column-7{
    align-content: center;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo{
    margin-top: 5%;
    margin-left: 1%;
}

.campo {
    width: 50%; 
    height: 60%;
    text-align: center;
}
.campo1 {
    width: 50%; 
    text-align: center;
}
.direccion{
    padding-top: 30px;
}

/* login */

#columnas-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    justify-content: space-around;
}

#img-icons {
    margin-right: 10px; 
}

.error {
    color: red; 
    font-size: 12px;
    margin-top: -10px; 
} 

#login_form {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

#login_forma{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}
@media screen and (max-width: 600px) {
    .column-3{
        width: 100%;
        padding-bottom: 50px;
    }
    .login_estr, .form-estr, .column-7 {
        width: 90%;
        margin: 0 auto;
    }
    button{
        margin-bottom: 20px;
    }
    .form-estr, .login_estr {
        padding: 10px;
        margin-top: 15px;
    }
    .row {
        flex-direction: column;
        justify-content: center;
    }
    a{
        width: 5%;
    }
    #img-icons {
        width: 10%;
    }
    .login_forma{
        width: 100%;
    }
    .direccion{
        padding-top: 10px;
    }
}