
body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #002049;
}

#derecha{
    width: 50%;
    position: fixed;
    height: 100%;
}

#contenedor_derecha{
    margin-left: 50%;
}

#boton{
    background-color: #a6c2d5;
    padding: 10px; 
    padding-left: 38%;
    padding-right: 36%;
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 2rem;
    transition: 1s;
}
#boton:hover{
    transition: 1s;
    background-color: #ffffff;
}
#todo{  
    width: 100%;
}

#contenedor_dentro_izq{
    border-radius: 1px solid black;
    border: #a6c2d5;

}
.barra{
    background-color: #002049;

}
.nav-link {
    color: white !important; 
}
.btn-outline-success{
    border:1px solid white !important;
    color: white !important;
}
.btn-outline-success:hover{
    background-color: white !important;
    color: #002049 !important;
}
form {
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
h1{
    padding-right: 5%;
}
#cuadrado{
    background-color: #0c1625;
    border: 2px solid #0c1625;
    border-radius: 20px;
    padding: 3%;
    margin-left: 10%;
    margin-right: 60%;
    margin-top: 5%;
    padding-bottom: 2rem;
}

.eslogan{
    color: #bec0c5;   
}

p{
    margin-top: 0%;
    margin-bottom: 1rem;
    text-align: center;
}

.gestion{
    color: #e5e6e7;
    font-size: 38px;
    text-align: center;
}

h3{
    margin-top: 0%;
    margin-bottom: 0%;
}
.datos-tabla {
    width: 100%;
    border-collapse: collapse;
    display: inline-block;
    overflow:auto;
}

.data-table th, .data-table td {
    padding: 10px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2;
}
.titulos{
    position: sticky;
}
.editar, .eliminar {
    background-color: #002049;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-right: 10px;

}
.botones-leer{
    display: flex;
    flex-direction: row;
    border: none;
}

.editar:hover, .eliminar:hover {
    text-decoration: underline;
}

.alumnos{
    text-align: center;
    justify-content: center;
}

.is-invalid{
    border-color: red !important;
}
